#contentMap{
    width: 100%;
    height: 100%;
}

.noMapLoaded {
    background-color: #edef92;
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    // justify-content: center;
    // align-items: center;
}

/* -------------------------------------------------------------------------- */
/*                                  Lens Head                                 */
/* -------------------------------------------------------------------------- */
.lensHead {
    margin: auto;
    z-index: 2;

    margin-top: 4rem;
    width: 130px;
    height: 80px;
    border-radius: 50%;
    background: silver; 
    border: 1px rgb(87, 86, 86) solid;

    
}

.lensHead .lensSubHead {
    margin-top: 0.5rem;
    margin-left: 0.6rem;
    width: 110px;
    height: 60px;
    border-radius: 50%;
    background: rgb(190, 228, 243); 
}

.lensHead .lensSubHead .selfMoon {
    position: absolute;
    top: 90px;

    height: 30px;
    width: 30px;
    background: radial-gradient(ellipse farthest-corner at 33% 100%, rgb(190, 228, 243) 45%, silver 47%);
    background-size: 150% 100%;
    //   border: 3px solid rgb(29, 27, 28);
    border-radius: 50%;

    margin-left: 4.5rem;

    transform: rotate(90deg);
}


/* -------------------------------------------------------------------------- */
/*                               Lens Head Eyes                               */
/* -------------------------------------------------------------------------- */
.leftEye {
    position: absolute;
    top: 90px;
    left: 155px;

    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
}
.closedLeftEye {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    // background: red;

    z-index: 1;
}

.irisLeftEye {
    position: absolute;
    top: 10px;
    left: 3px;

    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 3px rgb(93, 214, 56) solid;
    background: black;

    z-index: 0;
}

.rightEye {
    position: absolute;
    top: 90px;
    right: 155px;

    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
}

.irisRightEye {
    position: absolute;
    top: 10px;
    left: 3px;

    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 3px rgb(93, 214, 56) solid;
    background: black;
}

/* -------------------------------------------------------------------------- */
/*                                  Lens Body                                 */
/* -------------------------------------------------------------------------- */
.lensBody {
    position: absolute;
    top: 165px;
    left: 33%;

    z-index: 1;

    width: 130px;
    height: 20px;
    border-radius: 100%;
    border: 1px rgb(87, 86, 86) solid;
    background: silver;

    transform: rotate(90deg);
}

.lensSubBody {
    position: absolute;
    right: -1px;
    bottom: -1.7px;
    
    z-index: 0;

    width: 79px; 
    height: 22px; 
    background: #46210b;
}

.lensSubBody span{
    width: 0; 
    height: 0; 

    border-left: 5px solid #ad5f5f;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

}

.lensSubBody span:nth-child(1) {
    margin-left: 10px;
}

.lensSubBody span:nth-child(2) {
    margin-left: 15px;
}

.lensSubBody span:nth-child(3) {
    margin-left: 20px;
}


