<app-header backButton="true" title="Catedral"></app-header>

<ion-content> 
  <ion-card>
    <!-- <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>  -->
    <img src="../../assets/catedral.jpg" alt="">
    <ion-card-content>
      <!-- <app-descriptionroutes "></app-descriptionroutes> -->
    </ion-card-content>
  </ion-card>

<ion-card>
  <ion-card-header class="ion-card-header-routes">
    <ion-card-title>Lorem ipsum dolor sit amet consectetur, adipisicing elit?</ion-card-title>
  </ion-card-header>

    <ion-card-content>
      <!-- <ion-list>
        <ion-item *ngFor="let c of ComponentRoute111" [routerLink]="c.redirecTo">{{c.answer}}</ion-item>
      </ion-list> -->

      <ion-grid class="ion-grid-routes">
        <ion-row>
          <ion-col>
            <ion-button color="light" expand="full">Light</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="light" expand="full">Light</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="light" expand="full">Light</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="light" expand="full">Light</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

</ion-card>

</ion-content> 