<ion-header>
  <ion-toolbar>
    <ion-title>
      RuteGame1.1.1
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <img src="../../assets/catedral.jpg" alt="">
    <ion-card-header>
      <ion-card-title>Catedral</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nam harum laborum libero, ut officiis illum rerum, tenetur sapiente aperiam ea, 
     temporibus nesciunt atque dolores accusamus vero veritatis distinctio quis.
    </ion-card-content>
  </ion-card>
  
</ion-content>
