<app-header title="RouteGame1"></app-header>

<ion-content> 
  <ion-card>
    <img src="../../assets/catedral.jpg" alt="">
    <ion-card-header>
      <ion-card-title>Catedral</ion-card-title>
    </ion-card-header> 
  </ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Lorem ipsum dolor sit amet consectetur, adipisicing elit?</ion-card-title>
  </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let c of ComponentRoute111" [routerLink]="c.redirecTo">{{c.answer}}</ion-item>
      </ion-list>
    </ion-card-content>

</ion-card>

</ion-content> 