.ion-card-header-routes{
    padding-bottom: 13px;
}

.ion-card-header-routes ion-card-title {
    font-size: 15px;
}

.ion-grid-routes ion-col ion-button {
    border-radius: 40px;
}

.ion-grid-routes {
    padding: 0px;
}

ion-card-content{
    font-size: 0.7em;
    padding: 10px;
}