<ion-header class="ion-no-border body-header ">
  <ion-toolbar class="ion-toolbar-no-land-page">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" class="backButton"></ion-back-button>
    </ion-buttons>
    
    <ion-title text-capitalize color="light">{{ title }}</ion-title>

    <ion-button slot="end" (click)="presentAlert()" color="light" fill="clear" *ngIf="checkMainPage=='true'">
      <ion-icon name="alert-circle-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>
