<app-header title="RouteGame2"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>kkkk</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nam harum laborum libero, ut officiis illum
      rerum, tenetur sapiente aperiam ea,
      temporibus nesciunt atque dolores accusamus vero veritatis distinctio quis.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Lorem ipsum dolor sit amet consectetur, adipisicing elit?</ion-card-title>
    </ion-card-header>
  
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let c of ComponentRoute122" [routerLink]="c.redirecTo">{{c.answer}}</ion-item>
        </ion-list>
      </ion-card-content>
  
  </ion-card>

</ion-content>