<ion-button class="ion-button-description" (click)="descriptionRoute111()" *ngIf="descriptionFuction=='descriptionRoute111'">Description</ion-button>
<ion-button class="ion-button-description" (click)="descriptionRoute112()" *ngIf="descriptionFuction=='descriptionRoute112'">Description</ion-button>
<!-- <ion-button class="ion-button-description" (click)="descriptionRoute113()" *ngIf="descriptionFuction=='descriptionRoute111'">Description</ion-button> -->
<!-- <ion-button class="ion-button-description" (click)="descriptionRoute121()" *ngIf="descriptionFuction=='descriptionRoute111'">Description</ion-button> -->
<!-- <ion-button class="ion-button-description" (click)="descriptionRoute122()" *ngIf="descriptionFuction=='descriptionRoute111'">Description</ion-button> -->
<!-- <ion-button class="ion-button-description" (click)="descriptionRoute123()" *ngIf="descriptionFuction=='descriptionRoute111'">Description</ion-button> -->
<ion-button class="ion-button-description" (click)="descriptionRoute211()" *ngIf="descriptionFuction=='descriptionRoute211'">Description</ion-button>
<ion-button class="ion-button-description" (click)="descriptionRoute212()" *ngIf="descriptionFuction=='descriptionRoute212'">Description</ion-button>
<!-- <ion-button class="ion-button-description" (click)="descriptionRoute213()" *ngIf="descriptionFuction=='descriptionRoute111'">Description</ion-button> -->
<!-- <ion-button class="ion-button-description" (click)="descriptionRoute221()" *ngIf="descriptionFuction=='descriptionRoute111'">Description</ion-button> -->
<!-- <ion-button class="ion-button-description" (click)="descriptionRoute222()" *ngIf="descriptionFuction=='descriptionRoute111'">Description</ion-button> -->
<!-- <ion-button class="ion-button-description" (click)="descriptionRoute223()" *ngIf="descriptionFuction=='descriptionRoute111'">Description</ion-button> -->

