<ion-button class="ion-button-description" (click)="descriptionRoute111()" *ngIf="descriptionFuction=='descriptionRoute111'">Description</ion-button>
<!-- <ion-button expand="full" (click)="descriptionRoute112()" *ngIf="descriptionFuction=='descriptionRoute111'">Description</ion-button>
<ion-button expand="full" (click)="descriptionRoute113()" *ngIf="descriptionFuction=='descriptionRoute111'">Description</ion-button>
<ion-button expand="full" (click)="descriptionRoute121()" *ngIf="descriptionFuction=='descriptionRoute111'">Description</ion-button>
<ion-button expand="full" (click)="descriptionRoute122()" *ngIf="descriptionFuction=='descriptionRoute111'">Description</ion-button>
<ion-button expand="full" (click)="descriptionRoute123()" *ngIf="descriptionFuction=='descriptionRoute111'">Description</ion-button>
<ion-button expand="full" (click)="descriptionRoute211()" *ngIf="descriptionFuction=='descriptionRoute111'">Description</ion-button>
<ion-button expand="full" (click)="descriptionRoute212()" *ngIf="descriptionFuction=='descriptionRoute111'">Description</ion-button>
<ion-button expand="full" (click)="descriptionRoute213()" *ngIf="descriptionFuction=='descriptionRoute111'">Description</ion-button>
<ion-button expand="full" (click)="descriptionRoute221()" *ngIf="descriptionFuction=='descriptionRoute111'">Description</ion-button>
<ion-button expand="full" (click)="descriptionRoute222()" *ngIf="descriptionFuction=='descriptionRoute111'">Description</ion-button>
<ion-button expand="full" (click)="descriptionRoute223()" *ngIf="descriptionFuction=='descriptionRoute111'">Description</ion-button> -->

