<app-header title="RouteGame1"></app-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>kkkk</ion-card-title>
    </ion-card-header>
   
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Lorem ipsum dolor sit amet consectetur, adipisicing elit?</ion-card-title>
    </ion-card-header>
  
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let c of ComponentRoute113" [routerLink]="c.redirecTo">{{c.answer}}</ion-item>
        </ion-list>
      </ion-card-content>
  
  </ion-card>

</ion-content>