.body-main-page {
    --background: #9AA896;
    --border-width: 20px;
    --border-style: solid;
    --border-color: red;
}

.ion-card-main-page, .ion-card-main-page ion-card-content {
    --background: #603407;
}



ion-list {
    // --background: red;
    background-color: red;
}

ion-item {
    --background: red
}