<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Back"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Main page</ion-title>

  </ion-toolbar>
</ion-header> -->

<app-header title="Main Page" checkMainPage="true"></app-header>

<ion-content class="body-main-page ">
  <ion-card class="ion-card-main-page ">
    <ion-card-header>
      <ion-card-title class="ion-text-center" color="light">Triana</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-list class="ion-list-main-page">
        <ion-item *ngFor="let c of componentsTriana"
                  [routerLink]="c.redirecTo" detail>
    
          <ion-icon slot="start" [name]="c.icon"></ion-icon>
          <ion-label>{{ c.name }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-card-main-page ">
    <ion-card-header>
      <ion-card-title class="ion-text-center" color="light">Vegueta</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-list class="ion-list-main-page">
        <ion-item *ngFor="let c of componentsVegueta"
                  [routerLink]="c.redirecTo" detail>
    
          <ion-icon slot="start" [name]="c.icon"></ion-icon>
          <ion-label>{{ c.name }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
