<app-header backButton="true" title="Catedral"></app-header>

<ion-content class="ion-content-routes"> 
  <ion-card class="animated fadeIn">
    <!-- <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>  -->
    <img src="../../assets/catedral.jpg" alt="">
    <ion-card-content>
      <app-descriptionroutes descriptionFunction='descriptionRoute211'></app-descriptionroutes>
    </ion-card-content>
  </ion-card>

<ion-card class="animated zoomIn">
  <ion-card-header class="ion-card-header-routes">
    <ion-card-title>What is the unusual orientation of the architectural structure of the Cathedral Basilica of Santa Ana?</ion-card-title>
  </ion-card-header>

    <ion-card-content class="ion-card-content-routes">

      <ion-grid class="ion-grid-routes">
        <ion-row *ngFor="let c of ComponentRoute211">
          <ion-col>
            <ion-button [routerLink]="c.redirecTo">{{c.answer}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

</ion-card>

</ion-content> 