<app-header backButton="true" title="Casa Colon"></app-header>

<ion-content>
  <div id="contentMap" >
    <div class="noMapLoaded">

      <!-- ----------------------------------------------------------------------- -->
      <!--                              Question Mark                              -->
      <!-- ----------------------------------------------------------------------- -->
          <div class="questionMark">?</div>
      
      <!-- ----------------------------------------------------------------------- -->
      <!--                                Lens Head                                -->
      <!-- ----------------------------------------------------------------------- -->
          <div class="lensHead">
            <div class="lensSubHead">
              <div class="selfMoon"></div>
              <div class="leftEye">
                <div class="irisLeftEye"></div>
                <div class="closedLeftEye"></div>
              </div>
              <div class="rightEye">
                <div class="irisRightEye"></div>
                <div class="closedLeftEye"></div>
              </div>
            </div>
          </div>
      
      <!-- ----------------------------------------------------------------------- -->
      <!--                                Lens Body                                -->
      <!-- ----------------------------------------------------------------------- -->
          <div class="lensBody">
            <div class="lensSubBody">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
      
      <!-- ----------------------------------------------------------------------- -->
      <!--                               Lens Hands                                -->
      <!-- ----------------------------------------------------------------------- -->
          <div class="lensHands">
            <div class="rightHand">
              <div class="rightArm">
                <div class="rightSubHand"></div>
              </div>
            </div>
            <div class="leftHand">
              <div class="leftArm">
                <div class="leftSubHand"></div>
              </div>
            </div>
          </div>
      
      <!-- ----------------------------------------------------------------------- -->
      <!--                                Lens Legs                                -->
      <!-- ----------------------------------------------------------------------- -->
          <div class="lensLegs">
            <div class="leftLeg">
              <div class="leftFoot"></div>
            </div>
            <div class="rightLeg">
              <div class="rightFoot"></div>
            </div>
          </div>
  </div>
</div>
</ion-content>

<ion-content>
  <div id="contentButtonMap" class="ion-padding">
    <ion-button expand="block" (click)="reloadMap()">Reload Map</ion-button>
    <ion-button expand="block" (click)="goToQuest()">Go to Quest</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-tabs routerLink="/main"></app-tabs>
  </ion-toolbar>
</ion-footer>